* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #1F2937;
    padding: 15px 40px;
}

.top-line {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.top-links {
    display: flex;
    gap: 15px;
}

a, 
.img-placeholder-one p,
.text-content {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.header-content {
    margin: 80px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 300px;
}

.header-text {
    flex: 1;
}

.title-content {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.img-placeholder-one {
    background-color: #4f596d;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-content {
    margin: 6px 0;
}


button {
    background-color: #3882f6;
    padding: 6px 26px;
    border: none;
    border-radius: 6px;
    color: #f9faf8;
    font-weight: 800;
}

.extra-information {
    text-align: center;
}

main h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    margin: 30px 0;
}

.container-boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.container-box{
    display: flex;
    width: 150px;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 80px;
}

.box {
    border: #3882f6 solid 4px;
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.quotation {
    background-color:#e5e7eb;
    padding: 80px 280px;
}

.text-quotation {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    text-align: left;
    margin-bottom: 10px;
}

.author-quotation {
    font-weight: bold;
    font-size: 24px;
    text-align: end;
}




